* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  text-align: center;
}

main {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: grey;
  text-align: right;
  width: 100%;
}

nav.ui.inverted.segment {
  margin-top: 0;
}

.logo-list li {
  display: inline-block;
}

.logo-list img {
  width: 75%;
  height: 75%;
}

.project:nth-of-type(2n+1) {
  background-color: grey;
}

.project:nth-of-type(2n), footer {
  background-color: lightgrey;
}

.project__image {
  border: 3px solid black;
  max-width: 300px;
}

footer p {
  margin-bottom: 0;
}