* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

main {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: grey;
  text-align: right;
  width: 100%;
}

h1, h2, h3, nav {
  font-family: 'PT Serif', serif !important;
}

nav img {
  width: 40px;
  height: 40px;
}

p, span {
  font-size: 1.1em;
}

h1 {
  text-align: center;
}

header img {
  margin-left: auto;
  margin-right: auto;
}

h2.ui.header:first-child {
  /* margin-top: 20px; */
  margin-bottom: 5px;
}

h3.ui.header {
  margin-top: 0;
}

section {
  border: 3px solid ghostwhite;
  margin-top: 10px;
  padding: 10px;
}

article {
  margin-top: 10px;
  padding: 10px;
}

article:not(:last-of-type) {
  border-bottom: 3px solid ghostwhite;
  padding-bottom: 20px;
}

section p {
  text-align: left;
}

.project {
  position: relative;
  /* background-color: grey; */
}

.projects p:nth-of-type(1) {
  margin: 10px auto 0 auto;
}

section span, section h2 {
  display: inline;
}

nav.ui.segment {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-list * {
  width: 30px !important;
  height: 30px !important;
}

.project__image {
  border: 3px solid black;
  max-width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  margin-top: 20px;
  background-color: #e0e1e2;
}

.footer__links * {
  display: inline-block;
  vertical-align: middle;
}

footer span {
  margin-bottom: 0;
  font-size: 1.2em;
}

.footer__copyright  {
  height: 50px;
  line-height: 50px;
}

.fa-copyright {
  width: 20px;
  height: 20px;
}

.fa-envelope-square, .fa-linkedin{
  width: 30px !important;
  height: 30px !important;
  color: black;
}

.hidden {
  display: none;
}

.project__links {
  margin-top: 10px;
}

.project__links button {
  width: 90px;
  height: 36px;
}

.margin-top {
  margin-top: 10px;
}