* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/backgrounds/dust.png");
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

main {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: grey;
  width: 100%;
}

h1, h2, h3, nav {
  font-family: 'PT Serif', serif !important;
}

nav img {
  width: 40px;
  height: 40px;
}

p, span {
  font-size: 1.1em;
}

h1 {
  text-align: center;
}

header img {
  margin-left: auto;
  margin-right: auto;
}

h2.ui.header:first-child {
  /* margin-top: 20px; */
  margin-bottom: 5px;
}

h3.ui.header {
  margin-top: 0;
}

section {
  border: 3px solid ghostwhite;
  margin-top: 10px;
  padding: 10px;
}

article {
  margin-top: 10px;
  padding: 10px;
}

article:not(:last-of-type) {
  border-bottom: 3px solid ghostwhite;
  padding-bottom: 20px;
}

section p {
  text-align: left;
}

.project {
  position: relative;
}

.projects p:nth-of-type(1) {
  margin: 10px auto 0 auto;
}

section span, section h2 {
  display: inline;
}

nav.ui.segment {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-end;
}

.logo-list * {
  width: 30px !important;
  height: 30px !important;
}

.project__image {
  border: 3px solid black;
  max-width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  margin-top: 20px;
  background-color: black;
}

.footer__links * {
  display: inline-block;
  vertical-align: middle;
}

footer span {
  margin-bottom: 0;
  font-size: 1.2em;
  color: rgba(255,255,255,.7);
}

.footer__copyright  {
  height: 50px;
  line-height: 50px;
}

.fa-copyright {
  width: 20px;
  height: 20px;
  color: rgba(255,255,255,.7);
}

.fa-envelope-square, .fa-linkedin{
  width: 30px !important;
  height: 30px !important;
  color: rgba(255,255,255,.7);
}

.hidden {
  display: none;
}

.project__links {
  margin-top: 10px;
}

.project__links button {
  width: 90px;
  height: 36px;
}

.margin-top {
  margin-top: 10px;
}

.fa-react {
  color: #00d8ff;
}

.fa-node-js {
  color: #8CC84B;
}

.fa-js-square {
  color: #F7E018;
}

.fa-html5 {
  color: #E44D26;
}

.fa-css3-alt {
  color: #264DE4;
}

.fa-linkedin {
  color: #007BB5;
}

header .ui.container.about {
  display: none;
}

@media screen and (min-width: 720px) {  
  header .fluid.bordered.image {
    width: 50%;
    height: 50%;
  }

  h1.ui.header {
    font-size: 3em;
  }

  body {
    font-size: 1.1em;
  }

  section {
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
  }

  article {
    /* border-left: 3px solid ghostwhite;
    border-right: 3px solid ghostwhite; */
    /* border: none; */
    position: relative;
    height: 500px;
  }

  .project__links {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  nav.ui.segment {
    margin-bottom: 30px;
    display: flex;
  }

  nav.ui.segment a:nth-of-type(1) {
    order: 1;
  }

  nav.ui.segment a:nth-of-type(2) {
    order: 3;
  }

  nav.ui.segment a:nth-of-type(3) {
    order: 2;
  }

  nav.ui.segment a:nth-of-type(4) {
    order: 4;
  }

  section.ui.container.contact {
    max-width: 800px !important;
  }

  article:first-of-type {
    border: none;
  }

  nav.ui.segment a:first-of-type {
    position: absolute;
    left: 10px;
  }

  article:nth-of-type(2) {
    border-left: none;
  }

  article:nth-of-type(3) {
    border-right: none;
  }

  article:not(:last-of-type) {
    border-bottom: none;
  }

  header .ui.container.about {
    display: block;
    border-left: none;
  }

  .ui.container.about.bottom {
    display: none;
  }
}